@page "/preview"

<div class="col-md-12">

    <h1>Control preview mode with the Preview parameter</h1>

    <MarkdownEditor @bind-Value="@markdownValue" MaxHeight="300px" 
        AllowResize="true" Preview="@_preview"
        SpellChecker="false" @ref="Markdown1" AutoSaveEnabled="false">
        <Toolbar>
            <MarkdownToolbarButton Action="MarkdownAction.Bold" Icon="fa fa-bold" Title="Bold" />
        </Toolbar>
    </MarkdownEditor>

    <button @onclick="() => _preview = true">Preview ON</button>
    <button @onclick="() => _preview = false">Preview OFF</button>

    <hr />

    <h2>Preview mode can be controlled with the Preview parameter</h2>
    <MarkdownEditor Value="@exampleRazor" Preview="true"></MarkdownEditor>

    <hr />
    <h2>Enable or disable preview from code using SetPreviewAsync()</h2>
    <MarkdownEditor Value="@exampleCsharp" Preview="true"></MarkdownEditor>

    <hr />
    <h2>Preview can be toggled from code using TogglePreviewAsync()</h2>
    <MarkdownEditor Value="@exampleCsharpToggle" Preview="true"></MarkdownEditor>

</div>

@code {
    MarkdownEditor Markdown1;

    string exampleRazor = "```html\n<MarkdownEditor @ref=\"Markdown1\" Preview=\"true\">\n</MarkdownEditor>\n```";
    string exampleCsharp = "```csharp\nawait MarkdownEditor1.SetPreviewAsync(true);\n```";
    string exampleCsharpToggle = "```csharp\nawait MarkdownEditor1.TogglePreviewAsync();\n```";

    string markdownValue = "# Markdown Editor for Blazor\nThis component is using [EasyMDE](https://easy-markdown-editor.tk/) " +
                           "to display a nice editor and all functionalities are mapped. See the documentation for more details.\n\n" +
                           "Go ahead, play around with the editor! Be sure to check out **bold**, *italic*, " +
                           "[links](https://www.puresourcecode.com) and all the other features. " +
                           "You can type the Markdown syntax, use the toolbar, or use shortcuts like `ctrl-b` or `cmd-b`.\n\n" +
                           "Please check [PureSourceCode.com](https://www.puresourcecode.com) for more updates.\n\n" + 
                           "## Add code\nMarkdown Editor supports [highlight.js](https://highlightjs.org/) to colorize your code.\n\n" +
                           "```code\npublic async Task<string> GetValueAsync() {\n    return false;\n}\n```\n\n" +
                           "## Add a mermaid graph\nFrom now on, the Markdown Editor can render mermaid graph. " + 
                           "See the [documentation](https://mermaid.js.org/intro/).\n\n" +
                           "```mermaid\nstateDiagram\n    [*] --> Still\n    Still --> [*]\n\n    Still --> Moving\n    " + 
                           "Moving --> Still\n    Moving --> Crash\n    Crash --> [*]\n```\n\n" +
                           "```att\nThis is an example of attention message\n```\n\n" +
                           "```note\nThis is a simple note message to add in the page\n```\n\n" +
                           "```tip\nThis is a tip to highlight some information\n```\n\n" +
                           "```warn\nIf you want to warn a user about something, this is an example. If you want to warn a user about something, this is an example. If you want to warn a user about something, this is an example. If you want to warn a user about something, this is an example. If you want to warn a user about something, this is an example. If you want to warn a user about something, this is an example. If you want to warn a user about something, this is an example. If you want to warn a user about something, this is an example. If you want to warn a user about something, this is an example. \n```\n\n";
    string markdownHtml;
    private bool _preview = true;
}